---
---
@import "{{ site.theme }}";

/* Hide only the header title, keep logo and description */
header h1, p.view {
  display: none !important;
}



/* Hide footer and GitHub-related links */
footer{
  display: none !important;
}

/* Custom color for headings */
h1, h2, h3, h4, h5, h6 {
  color: #00305e;
}


